@tailwind base;
@tailwind components;
@tailwind utilities;
.toon{
    font-family: var(--font-gamja-flower), cursive;
}
.title {
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 800;
}
.body {
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 300;
}
.body-light {
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 100;
}
.body-medium {
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 400;
}
.body-bold {
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 600;
}
.bubble {
  font-family: var(--font-manrope), sans-serif;
  font-weight: 400;
  }

  .scrollbar-left-small::-webkit-scrollbar {
    width: 8px; 
  }
  
  .scrollbar-left-small::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
  }
  
  .scrollbar-left-small::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); 
  }

.scrollbar-left::-webkit-scrollbar {
  width: 8px; 
}

.scrollbar-left::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
}

.scrollbar-left::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); 
}
.draggable {
  transition: width 0.2s ease; 
}
