@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.toon{
    font-family: 'Gamja Flower', cursive;
}
.title {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}
.body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.body-light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.body-medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.body-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.bubble {
    font-family: 'Modak', cursive;
  }

  .scrollbar-left-small::-webkit-scrollbar {
    width: 8px; 
  }
  
  .scrollbar-left-small::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
  }
  
  .scrollbar-left-small::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); 
  }

.scrollbar-left::-webkit-scrollbar {
  width: 8px; 
}

.scrollbar-left::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
}

.scrollbar-left::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); 
}
.draggable {
  transition: width 0.2s ease; 
}
.custom-switch.ant-switch-checked {
  background-color: #070F2B; /* Dark background color when checked */
  border-color: #F5EFFF; /* Optional: match border with the background */
}

/* Checked state on hover */
.custom-switch.ant-switch-checked:hover {
  background-color: #444; /* Darker shade on hover */
  border-color: #444; /* Match border with the new background */
}

/* Unchecked state */
.custom-switch.ant-switch {
  background-color: #F5EFFF; /* Light background color when unchecked */
  border-color: #e0e0e0; /* Optional: match border with the background */
}

/* Unchecked state on hover */
.custom-switch.ant-switch:hover {
  background-color: #120433;
  border-color: #d0d0d0; /* Match border with the new background */
}