@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
.body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.body-light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.body-medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.body-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.bubble {
    font-family: 'Modak', cursive;
  }

  .scrollbar-left-small::-webkit-scrollbar {
    width: 8px; 
  }
  
  .scrollbar-left-small::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
  }
  
  .scrollbar-left-small::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); 
  }

.scrollbar-left::-webkit-scrollbar {
  width: 8px; 
}

.scrollbar-left::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
}

.scrollbar-left::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); 
}
.draggable {
  transition: width 0.2s ease; 
}
